.top{
    background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Camp_Nou_Panoramic_Interior_View.jpg/1050px-Camp_Nou_Panoramic_Interior_View.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: white;
    /* opacity: 0.7; */
}

h1{
    font-size: 60px;
    font-family: 'Bree Serif', serif;
}

.teams-area{
    background-color: darkslateblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: .5%;
    height:2500px;
}
@media only screen and (max-width: 600px){
    .teams-area{
        background-color: darkslateblue;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: .5%;
        height:7500px;
    }
}